



  <style>
    h1{
      color: blue;
    }
    a{
      padding: 10px;
      background-color: silver;
      width: 2px;
      height: 10px;
    }
  </style>

  <!-- Resources -->
  <h1><strong>Routing and Navigation</strong></h1>
  <nav>
   <a class="dept" routerLink="/departments" routerLinkActive="active">Departments</a>
   <a class ="emp" routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav>
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>